<scroll-to-top><a id="top-scroll">Вверх</a></scroll-to-top>
<div ng-if="isAdmin"><a id="remove-content" ng-click="removeContent()">Удалить</a></div>
<div ng-if="activeOrder"><a id="order-content" ng-click="toggleModal()">Заказать</a></div>

<div class="row row-offcanvas row-offcanvas-right">
    <div class="col-xs-12 col-sm-12">
        <div class="jumbotron text-center">
            <a class="logo" href="#/">
                <img src="/app/images/logo.png" height="86px" width="70px">
            </a>
            <h1>Продукция</h1>
            <p>В этом разделе Вы можете просмотреть каталог и заказать продукцию, которая Вам понравилась.</p>
            <p class="pull-right">Всего изделий: {{result.json.production.productsCount}}</p>
            <div class="row" ng-if="isAdmin">
                <div class="col-md-12">
                    <form action="/upload" enctype="multipart/form-data" method="post">
                        File <input type="file" name="img" accept="image/*" multiple>
                        <input type="submit" value="Upload">
                    </form>
                </div>
            </div>
        </div>
        <div ng-if="isAdmin" class="panel panel-default panel-result">
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12 col-sm-12">
                        <div class="panel panel-default">
                            <div class="collection panel-heading">
                                <div class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" data-target="#logs" class="collapsed">Logs</a>
                                </div>
                            </div>
                            <div id="logs"  class="panel-collapse collapse">
                                <div class="wrap-elems-paragraph">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-12">
                                            <div class="panel-body text-wrap">
                                                <form action="/download" enctype="multipart/form-data" method="post">
                                                    <input type="submit" value="Backup catalog">
                                                </form>
                                                <h4>Общее количество товара: {{result.json.filesInfo.length}}</h4>
                                                <label>Названия:
                                                    <span ng-repeat="item in result.json.filesInfo">
                                                        <ul>
                                                            <li>{{item}}</li>
                                                        </ul>
                                                    </span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default panel-result">
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12 col-sm-12">
                        <div class="panel panel-default" ng-repeat="(keyitem, item) in result.json.production.catalog">
                            <div class="collection panel-heading">
                                <div class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" data-target="#{{keyitem}}" class="collapsed">{{item[0].productName}}</a>
                                </div>
                            </div>
                            <div id="{{keyitem}}"  class="panel-collapse collapse">
                                <div class="wrap-elems-paragraph">
                                    <div class="row">
                                        <div class="col-xs-4 col-sm-4" ng-repeat="(keycollection, collectionitem) in item">
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <div class="row">
                                                        <div class="col-xs-12 col-sm-12">
                                                            <div class="wrap-elems-paragraph">
                                                                <div class="icon thumbnail">
                                                                    <img ng-src="{{collectionitem.path}}{{collectionitem.imageName}}" ng-click="showZoomInImage(collectionitem)" width="150" height="150" err-src="http://google.com/favicon.ico">
                                                                    <span ng-click="showZoomInImage(collectionitem)" class="glyphicon glyphicon glyphicon-zoom-in"></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-12 col-sm-12">
                                                            <div class="wrap-elems-paragraph">
                                                                <div class="panel-title">
                                                                    <h3>{{collectionitem.title}}</h3>
                                                                    <div>
                                                                        <span>Цена: {{collectionitem.price}}</span>
                                                                    </div>
                                                                    <div>
                                                                        <span>Заказать: <input type="checkbox" ng-model= "collectionitem.in_order" ng-change="updateOrderBtn()"></span>
                                                                        <span ng-if="isAdmin">Удалить: <input type="checkbox" ng-model= "collectionitem.rem_selected"></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-12">
                                            <div class="wrap-elems-paragraph">
                                                <div class="panel-title">
                                                    <h4>{{item[0].productName}} {{item.length}} шт.</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="glass-pane" ng-show="isLoading">
                    <div class="loading-img"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<modal title="Форма заказа" visible="showModal">
    <form role="form">
        <div class="form-group">
            <label>Имя</label>
            <input type="text" class="form-control" ng-model="user.name" placeholder="Введите имя" />
        </div>
        <div class="form-group">
            <label>Телефон</label>
            <input type="text" class="form-control"  ng-model="user.phone" placeholder="Введите телефон" />
        </div>
        <input type="submit" ng-click="orderContent()" class="btn btn-default" value="Заказать">
    </form>
</modal>
<modal title="Подтверждение заказа" visible="showConfiramtionModal">
    <form role="form">
        <div class="form-group">
            <label>Ваше имя: {{user.name}}</label>
        </div>
        <div class="form-group">
            <label>Телефон: {{user.phone}}</label>
        </div>
        <div class="form-group">
            <label>Ваш заказ:
                <span ng-repeat="item in order.productTitles">
                    <ul>
                        <li>{{item}}</li>
                    </ul>
                </span>
            </label>
        </div>
        <input type="submit" ng-click="confirmOrder()" class="btn btn-default" value="Подтвердить">
        <input type="submit" ng-click="cancelOrder()" class="btn btn-default" value="Отменить">
    </form>
</modal>
<modal title="Керамическое изделие" visible="showZoomInImageModal">
    <form role="form">
        <div class="form-group">
            <span><h4>{{zoomInImage.imgTitle}}</h4></span>
            <div class="icon thumbnail">
                <img ng-src="{{zoomInImage.imgSrc}}" width="100%" height="100%" err-src="http://google.com/favicon.ico">
            </div>
        </div>
    </form>
</modal>