<div class="row row-offcanvas row-offcanvas-right">
    <div class="col-xs-12 col-sm-12">
        <div class="jumbotron text-center">
            <a class="logo" href="#/">
                <img src="/app/images/logo.png" height="86px" width="70px">
            </a>
            <h1>О нас</h1>
            <p>Мы находимся в городе Южное. Павильон №151 на муниципальном рынке (Бывший магазин '1000 мелочей')</p>
        </div>
        <div class="jumbotron text-center">
            <h3>Как мы выглядим:</h3>
            <div>
                <img src="/app/images/ceramics_market_view.png" alt="Павильон №151" class="img-thumbnail img-responsive">
            </div>
            <div>
                <img src="/app/images/ceramics_market_view_open.png" alt="Павильон №151" class="img-thumbnail img-responsive">
            </div>
        </div>
        <div class="jumbotron text-center">
            <h3>Карта:</h3>
            <img src="/app/images/ceramics_market_maps.png" alt="Павильон №151" class="img-thumbnail img-responsive">
        </div>
    </div>
</div>