<div class="row row-offcanvas row-offcanvas-right">
    <div class="col-xs-12 col-sm-12">
        <div class="jumbotron text-center">
            <a class="logo" href="#/">
                <img src="/app/images/logo.png" height="86px" width="70px">
            </a>
            <h1>Доставка на дом</h1>
            <p>Наш онлайн магазин предоставляет возможность заказа на дом. Услуга бесплатная.
            Вы заказываете продукцию, оставляете свое Имя и номер телефона в заказе, мы Вам перезваниваем и договариваемся о встрече.</p>
        </div>
    </div>
</div>