<div class="row row-offcanvas row-offcanvas-right">
    <div class="col-xs-12 col-sm-12">
        <div class="jumbotron text-center">
            <a class="logo" href="#/">
                <img src="/app/images/logo.png" height="86px" width="70px">
            </a>
            <h1>Онлайн магазин Украинской керамики</h1>
            <p>В нашем магазине Вы сможете просмотреть и заказать любую керамику из представленых. Сделать отличный подарок себе и своим родным и близким. Магазин богат различной продукцией (начиная от чашек, ваз заканчивая винными бочками) по очень
            демократическим ценам, каталог постоянно обновляется свежей продукцией.</p>
        </div>
        <div class="row">
            <div class="col-xs-6 col-lg-4">
                <h2>Продукция</h2>
                <p>Здесь вы можете просмотреть и выбрать керамику которая Вам понравилась.</p>
                <p><a class="btn-override btn btn-default"
                      href="#/product"
                      target="_blank" role="button">Что у нас есть &raquo;</a></p>
            </div>
            <div class="col-xs-6 col-lg-4">
                <h2>Доставка на дом</h2>
                <p>Как заказать доставку на дом.</p>
                <p><a class="btn-override btn btn-default"
                      href="#/delivery"
                      target="_blank" role="button">Доставка &raquo;</a></p>
            </div>
            <div class="col-xs-6 col-lg-4">
                <h2>О нас</h2>
                <p>Где мы находимся и как нас найти в городе Южное.</p>
                <p><a class="btn-override btn btn-default"
                      href="#/about" target="_blank"
                      role="button">Карта &raquo;</a></p>
            </div>
        </div>
    </div>
</div>
